.list-details-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../../assests/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
}

.scrollable-content {
    position: relative;
    height: 100vh;
    padding-top: 120px;
}

.search-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 60px; 
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px);
}


