/* Base styles for all devices */
.container {
    display: flex;
    height: 100vh;
    background-color: whitesmoke;
}

.loginImage {
    flex: 6;
    width: 100%;
    object-fit: cover;
}

.mainContent {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.header-container {
    margin-bottom: 20px;
}

.header {
    font-size: 28px; 
    font-weight: bold;
    text-align: center;
}

.google {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.googleIcon {
    width: 24px;
    margin-right: 10px;
}

h1, h3 {
    margin: 10px 0;
    font-weight: normal;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #5f005f;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer a {
    color: #800080;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

/* Medium Devices (Tablets, 768px and up) */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .loginImage {
        height: 300px;
        object-fit: contain;
        margin-bottom: 20px;
    }

    .mainContent {
        padding: 15px;
    }

    .header {
        font-size: 24px;
    }

    button {
        padding: 10px;
    }
}

/* Small Devices (Mobiles, 600px and below) */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .loginImage {
        flex: none;
        height: 200px;
        object-fit: contain;
    }

    .mainContent {
        width: 100%;
        padding: 10px;
        box-shadow: none;
        background-color: transparent;
    }

    .header {
        font-size: 22px;
    }

    button {
        padding: 10px;
    }
}
