.signUp-container {
  display: flex;
  height: 100vh;
  background-color: whitesmoke;
  top: 0%;
}

.signUp-Image {
  flex: 6;
  width: 100%;
  object-fit: cover;
}

.signUp-mainContent {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.signUp-header-container {
  margin-bottom: 20px;
}

.signUp-header {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.signUp-google {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.signUp-googleIcon {
  width: 24px;
  margin-right: 10px;
}

.signUp-form {
  margin: 20px;
  width: 100%; 
}


.signUp-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signUp-button {
  width: 100%;
  padding: 12px;
  background-color: #7ac60a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.signUp-button:hover {
  background-color: #68aa09;
}

.signUp-footer {
  margin-top: 20px;
  text-align: center;
}

.signUp-footer a {
  color: #800080;
  text-decoration: none;
  font-weight: bold;
}

.signUp-footer a:hover {
  text-decoration: underline;
}
