.container {
    position: absolute;
    background-image: url("../../assests/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main-content-container {
    align-items: flex-start;
    padding: 60px;
    flex: 1;
  }
  
  .description-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: white;
    padding: 100px;
    margin-left: 100px;
  }
  
  .heading-container {
    margin-bottom: 30px;
  }
  
  .heading-container h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30;
    line-height: 1.1; 
  }

  .heading-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30;
    line-height: 1.1; 
    margin-left: 40px;
  }