.container {
  display: flex;
  height: 100vh;
  background-color: whitesmoke;
}

.loginImage {
  flex: 6;
  width: 100%;
  object-fit: cover;
}

.mainContent {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.header-container {
  margin-bottom: 20px;
}

.header {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.google {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.googleIcon {
  width: 24px;
  margin-right: 10px;
}

.form {
  margin: 20px;
  width: 100%; 
}


input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #800080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #5f005f;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footer a {
  color: #800080;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}
